/** 
 * why
 * Créé par : Jimmy Letecheur 
 * Date : 2/03/16
*/

.why{
  margin: 0 auto;
}

.why__title{
  padding-top: 7em;
}

.why__title__span,
.why__title__strong{
  display: block;
  text-align: center;
}

.why__img{
  margin-top: 7em;
  margin-bottom: 5em;
  text-align: center;
}